<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
</head>
<body>
    <h1>Rooms</h1>
    <% if (message) { %>
        <p><%= message %></p>
    <% } else { %>
        <table>
            <tr>
                <th>Nomor Kamar</th>
                <th>Harga</th>
                <th>Aksi</th>
            </tr>
            <% rooms.forEach(room => { %>
                <tr>
                    <td><%= room.nomor_kamar %></td>
                    <td><%= room.harga %></li></td>
                    <td><a href="rooms/edit/<%=room.nomor_kamar%>">Edit</a> | <a href="/rooms/delete/:<%=room.nomor_kamar%>">Delete</a></td>
                </tr> 
            <% }); %>
        </table>
         
    <% } %>
    <a href="/rooms/create">Tambah ruangan</a>
</body>
</html>