<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit room</title>
    <link rel="stylesheet" href="/css/admin/style.css">
</head>
<body>
    <%- include('../partials/nav'); -%>
    <div class="container">
        <%- include('../partials/sidebar'); -%>
        <main>
            <h1>Edit room</h1>
            <div class="content">
                <form action="/dashboard/rooms/edit" method="POST">
                    <label for="nomor_kamar">Nomor Kamar : </label>
                    <input type="hidden" name="id" value="<%= room._id %>">
                    <input type="number" name="nomor_kamar" id="nomor_kamar" value="<%= room.nomor_kamar %>"><br>
                    <label for="harga">Harga : </label>
                    <input type="number" name="harga" id="harga" value="<%= room.harga %>"><br>
                    <button>Submit</button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>