<!DOCTYPE html>
<html>
<head>
    <title>Admin Rooms</title>
    <link rel="stylesheet" href="/css/admin/style.css">
</head>
<body>
    <%- include('../partials/nav'); -%>
    <div class="container">
        <%- include('../partials/sidebar'); -%>
        <main>
            <h1>Rooms Management</h1>
            <div class="content">
                <p>Here is some content for the rooms management page.</p>
                <% if (rooms.length === 0) { %>
                    <p>Tidak ada order sama sekali</p>
                  <% } else { %>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Nomor kamar</th>
                            <th>Harga</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% rooms.forEach(room => { %>
                            <tr>
                              <td><%= room.nomor_kamar%></td>
                              <td><%= room.harga %> - <%= order.room.nama %></td>
                              <td>
                                <a href="admin/rooms/add">Add</a>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    <% } %>
            </div>
        </main>
    </div>
</body>
</html>


    

