
    <% layout('../views/layouts/dashboard') %>
    <link rel="stylesheet" href="/css/room/index.css">

    <div class="container">
        <h1>Room</h1>
        <a class="addButton" href="/rooms/add">Add New Room</a>
        <form action="/rooms" method="get" style="margin-bottom: 20px;">
          <input type="text" name="search" placeholder="Search room..." value="<%= typeof search !== 'undefined' ? search : '' %>">
        
          <select name="sortBy">
            <option value="">Sort By</option>
            <option value="number" <%= sortBy === 'number' ? 'selected' : '' %>>Number</option>
            <option value="type" <%= sortBy === 'type' ? 'selected' : '' %>>Type</option>
            <option value="price" <%= sortBy === 'price' ? 'selected' : '' %>>Price</option>
          </select>
        
          <select name="order">
            <option value="asc" <%= order === 'asc' ? 'selected' : '' %>>Ascending</option>
            <option value="desc" <%= order === 'desc' ? 'selected' : '' %>>Descending</option>
          </select>
        
          <button type="submit">Apply</button>
        </form>
        
        <div class="tableContainer">
            <table>
                <tr>
                    <th>id</th>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                <% rooms.forEach(room => { %>
                    <tr>
                    <td><%= room.id %></td>
                    <td><%= room.number %></td>
                    <td><%= room.type %></td>
                    <td><%= room.price %></td>
                    <td class="actionButtons">
                        <a href="/rooms/<%= room.id %>/edit" class="editButton">Edit</a>
                        <form method="POST" action="/rooms/<%= room.id %>/delete">
                        <button type="submit" class="deleteButton">Delete</button>
                        </form>
                    </td>
                    </tr>
                <% }) %>
            </table>
            <div class="pagination">
                <% if (currentPage > 1) { %>
                  <a href="?page=<%= currentPage - 1 %>">Previous</a>
                <% } %>
              
                <% for (let i = 1; i <= totalPages; i++) { %>
                  <% if (i === currentPage) { %>
                    <span><%= i %></span>
                  <% } else { %>
                    <a href="?page=<%= i %>"><%= i %></a>
                  <% } %>
                <% } %>
              
                <% if (currentPage < totalPages) { %>
                  <a href="?page=<%= currentPage + 1 %>">Next</a>
                <% } %>
              </div>
        </div>
    </div>
   
