
    <% layout('../views/layouts/dashboard') %>

   <title>Rooms</title>
    <h1>Room</h1>
    <a href="/rooms/add">Add New Room</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Number</th>
            <th>Type</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <% rooms.forEach(room => { %>
            <tr>
            <td><%= room.id %></td>
            <td><%= room.number %></td>
            <td><%= room.type %></td>
            <td><%= room.price %></td>
            <td>
                <form method="POST" action="/rooms/<%= room.id %>/delete">
                <button type="submit">Delete</button>
                </form>
            </td>
            </tr>
        <% }) %>
    </table>
