
    <% layout('../views/layouts/dashboard') %>
    <link rel="stylesheet" href="/css/room/index.css">

    <div class="container">
        <h1>Room</h1>
        <a class="addButton" href="/rooms/add">Add New Room</a>
        <div class="tableContainer">
            <table>
                <tr>
                    <th>id</th>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                <% rooms.forEach(room => { %>
                    <tr>
                    <td><%= room.id %></td>
                    <td><%= room.number %></td>
                    <td><%= room.type %></td>
                    <td><%= room.price %></td>
                    <td class="actionButtons">
                        <a href="/rooms/<%= room.id %>/edit" class="editButton">Edit</a>
                        <form method="POST" action="/rooms/<%= room.id %>/delete">
                        <button type="submit" class="deleteButton">Delete</button>
                        </form>
                    </td>
                    </tr>
                <% }) %>
            </table>
            <div class="pagination">
                <% if (currentPage > 1) { %>
                  <a href="?page=<%= currentPage - 1 %>">Previous</a>
                <% } %>
              
                <% for (let i = 1; i <= totalPages; i++) { %>
                  <% if (i === currentPage) { %>
                    <span><%= i %></span>
                  <% } else { %>
                    <a href="?page=<%= i %>"><%= i %></a>
                  <% } %>
                <% } %>
              
                <% if (currentPage < totalPages) { %>
                  <a href="?page=<%= currentPage + 1 %>">Next</a>
                <% } %>
              </div>
        </div>
    </div>
   
