
    <% layout('../views/layouts/dashboard') %>
    <link rel="stylesheet" href="/css/room/index.css">

    <div class="container">
        <h1>Room</h1>
        <div class="upperButtons">
        <a class="addButton" href="/rooms/add">Add New Room</a>
        <form action="/rooms" method="get" style="margin-bottom: 20px;">
        
          <select name="sortBy">
            <option value="">Sort By</option>
            <option value="number" <%= sortBy === 'number' ? 'selected' : '' %>>Number</option>
            <option value="type" <%= sortBy === 'type' ? 'selected' : '' %>>Type</option>
            <option value="price" <%= sortBy === 'price' ? 'selected' : '' %>>Price</option>
          </select>
        
          <select name="order">
            <option value="asc" <%= order === 'asc' ? 'selected' : '' %>>Ascending</option>
            <option value="desc" <%= order === 'desc' ? 'selected' : '' %>>Descending</option>
          </select>
        
          <button type="submit" class="apply">Apply</button>
        </form>
        </div>
        <div class="tableContainer">
            <table>
                <tr>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Photo</th>
                    <th>Action</th>
                </tr>
                <% rooms.forEach(room => { %>
                    <tr>
                      <td><%= room.number %></td>
                      <td><%= room.type %></td>
                      <td><%= room.price %></td>
                      <td><% if (room.photo) { %>    
                        <img src="<%= room.photo %>" alt="Room Photo" class="roomImage" onclick="showModal('<%= room.photo %>')"  />
                        <% } else { %>
                          <p>No photo available</p>
                        <% } %>
                      </td>
                      <td >
                        <div class="actionButtons">
                          <a href="/rooms/<%= room.id %>/edit" class="editButton">Edit</a>
                          <form method="POST" action="/rooms/<%= room.id %>/delete">
                          <button type="submit" class="deleteButton">Delete</button>
                          </form>
                        </div>
                      </td>
                    </tr>
                <% }) %>
            </table>
            <div class="pagination">
              <% for(let i = 1; i <= totalPages; i++) { %>
                  <a 
                      href="?page=<%= i %>&sortBy=<%= sortBy %>&order=<%= order %>" 
                      class="<%= currentPage === i ? 'active' : '' %>">
                      <%= i %>
                  </a>
              <% } %>
          </div>
          
        </div>
    </div>
   <!-- Modal structure -->
<div id="imageModal" class="modal" onclick="hideModal()">
  <span class="close" onclick="hideModal()">&times;</span>
  <img class="modal-content" id="modalImage">
</div>
<script>
  function showModal(src) {
    const modal = document.getElementById("imageModal");
    const modalImg = document.getElementById("modalImage");
    modal.style.display = "block";
    modalImg.src = src;
    modalImg.style.width = "20rem";
  }

  function hideModal() {
    document.getElementById("imageModal").style.display = "none";
  }
</script>

